.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 35vh;
    width: 100%;
}

.title{
    font-size: 7vw;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
} 

@media (max-width: 900px){
    .header {
        justify-content: space-evenly;
        height: 25vh;
    }
}